.custom-shape-divider-bottom-1595848389 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-bottom: auto;
}

.custom-shape-divider-bottom-1595848389 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
    margin-bottom: auto;
}

.custom-shape-divider-bottom-1595848389 .shape-fill {
    fill: #519BF129;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .custom-shape-divider-bottom-1595848389 svg {
        width: calc(165% + 1.3px);
        height: 47px;
    }
}